* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.top-bar {
    width: 100%;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    
    background-color: white;
    
}

.space-left{
    width: 40%;
    height: 100px;
    display: flex;
    align-items: center;
    
}

.style-img{
    height: 50px;
    margin-left: 20px;

}

.small-text{
    color: grey;
    font-size: 25px;
    padding: 30px;
}


.space-mid{
    width: 20%;
    height: 100px;
   

}

.space-right{
    width: 40%;
    height: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
   
}

.small-blu{
    color: white;
    font-size: 30px;
    height: 50px;
    width: 120px;
    background-color: rgb(0, 93, 255);
    margin-right: 20px;
}

.main-top {
    padding-top: 20px;
    background-color: rgb(180, 208, 231);
    height: 900px;
}

.big-text{
    font-size: 120px;
    width: 70%;
}


.jumbo-container {
    padding-top: 60px;
   margin: auto;
    width: 55%;
    display: flex;
    flex-wrap: wrap;
}

.jumbo-text {
    width: 40%;
    margin-top: 30px;
}


.button-big{
    height: 60px;
    padding: 30px 0px;

}

.big-blu{
    background-color: rgb(0, 97, 255);
    height: 60px;
    width: 300px;
    color: white;
    font-size: 25px;
    padding: 10px;
    margin-top: 20px;
}


.medio-text{
    font-size: 40px;
    display: block;
    padding-top: 20px;
}


.fa-arrow-down{
    font-size: 70px;
    padding: 50px 30px;
}

.jumbo-img {
    height: 300px;
    width: 60%;
    margin-top: 30px;
}

.big-img{
    height: 700px;
}




.main-mid {
    padding-top: 80px;
    margin: auto;
    width: 50%;
}


.text-mid {
    height: 300px;
    display: flex;
    align-items: center;
    font-size: 90px;
}

.ceck-box{
    font-size: 40px;
    height: 200px;
    display: flex;
    align-items: center;
}

.fa-circle{
    color:  rgb(0, 97, 255);
    padding: 0px 30px;
}


.mid-container {
    display: flex;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.col {
    
    width: calc(95%/3) ;
    border: 1px solid black;


}

.singol {
    display: flex;
    align-items: center;
    height: 100px;
    border: 1px solid grey;
    justify-content: center;  
    padding-left: 20px;

}


.user{
    font-size: 40px;
}

.fa-user,.fa-users,.fa-hotel,.fa-folder,.fa-share-nodes,.fa-check{
    margin-right: 20px;
    font-size: 40px;
    padding-top: 20px;
}

.fa-check{
    color:rgb(0, 97, 255) ;
}


.money{
    padding: 20px 0px;
    font-size: 30px;
}

.month{
    font-size: 27px;
    color: grey;
    
}

.pad{
    padding-left: 40px;
}

.big-blu-tb{
    background-color: rgb(0, 97, 255);
    height: 100px;
    width: 500px;
    color: white;
    font-size: 30px;
    padding: 10px;
    margin-top: 20px;
}

.big{
    padding-top: 40px;
}


.border-small{
    margin-top: 90px;
    background-color: lightgrey;
    width: 90px;
    height: 5px;
    margin-left: 40px;
    
    
}



.container-contatti {
    margin-top: 70px;
    height: 300px;
    border: 1px solid black;
    margin-bottom: 70px;
}

.linea-container {
    height: 80px;
    width: 100%;
    border: 1px solid grey;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

.first-line {
    margin-left: 20px;
    display: flex;
    justify-content: space-between;

}

.mini-user{
    font-size: 25px;
}

.destra{
    padding-right: 20px;
}


.container-img {
    display: flex;
    margin-bottom: 70px;
}

.contain-photo {
    width: 60%;
    
}

.photo{
    height: 800px;
}

.container-text {
    width: 50%;
}
.special{
    font-size: 70px;
}

.grey{
    height: 60px;
    width: 300px;
    font-size: 25px;
    padding: 10px;
    margin-top: 70px;
    
}

.tab-container {
    padding-top: 80px;
    display: flex;
    flex-wrap: wrap;
    
}


.img-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    width: calc(100%/3);
    padding: 30px 0px;
}

.image{
    height: 300px;
}

.blocco {
    text-align: center;
}

.aria{
    padding: 150px 0px;
}

.sponsor {
    margin-top: 70px;
    display: flex;

}

.quadrato-left {
    width: calc(100%/3);
    display: flex;
    flex-wrap: wrap;
    
}

.mini-quadrato {
    height: 450px;
    width: 50%;
    
}

.up{
   
    background-color: rgb(162, 211, 155);
    display: flex;
    align-items: center;
    justify-content: center;
    

}

.right{
    background-color:rgb(97, 8, 43);
    display: flex;
    align-items: center;
    justify-content: center;
   
}

 

.down{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:rgb(0, 147, 206) ;

}

.left{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 28, 28);

}

.quadrato-mid {
    width: calc(100%/3);
    background-color: rgb(245, 245, 245);
}

.desi{
    padding: 60px;
}



.quadrato-right {
    width: calc(100%/3);
    display: flex;
    flex-wrap: wrap;
}

.sponsor2 {
    background-color: rgb(180, 208, 231);
    display: flex;
    justify-content: center;
    

}

.small-container1{
    width: 30%;
    margin-top: 50px;
    display: flex;
}

.small-container1>.special{
    color:rgb(94, 9, 52)
}


.small-container2{
    width: 20%;
    margin-top: 50px;
    display: flex;
    align-items: flex-start;
}

.grey-big{
    background-color: rgb(255, 255, 255);
    font-size: 25px;
    width: 400px;
    height: 50px;
    border: none;
}


.questions {
    height: 600px;
    margin-top: 70px;

}

.questions-tab {
    width: 50%;
    margin: auto;
    border-bottom: 1px solid black;
    height: 70px;
    padding-bottom: 70px;

}

.more-questions {
    margin-top: 90px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
}

footer {
    background-color: black;
}

.tab-footer {
    margin: auto;
    width: 70%;
    height: 300px;
    display: flex;




}

.col-footer {
    margin-top: 80px;
    width: calc(100% / 5);
    height: 50px;
    border: 1px solid white;
    flex-direction: column;

}

.col-footer, .small-col {

    color: white;
}

.small-col {
    margin-top: 15px;

    border: 1px solid white;
    flex-direction: column;

}

.hr {
    color: white;
    margin: auto;
    width: 70%;
    padding: 20px 0px;
}

hr {
    margin-top: 30px;
    width: 100px;
    border: 1px solid white
}

.ita {
    color: lightgray;
    margin: auto;
    width: 70%;

}